body {
    padding: 0;
    margin: 0;
    background-color: #F5E5BD;
    position: relative;
}

/* TEXT STYLES */

.h1 {
    color: #F5E5BD;
    font-family: "owners", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 172px;
    text-align: center;
    text-transform: uppercase;
    line-height: 90%;
}
h3 {
    color: #4B3407;
    font-family: "owners", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 26px;
    line-height: 90%;
    text-align: left;
    text-transform: uppercase;
}
.h4 {
    color: #F5E5BD;
    font-family: "Epilogue", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}
h5 {
    font-family: "Epilogue", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 90%;
}
p {
    color: #524B41;
    font-family: "Epilogue", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
}
a {
    text-decoration: none;
}

/* LANDING BLOCK */

.logo-top {
    text-align: center;
    padding: 32px 0px;
    animation: fade-down-logo-top 1s;
}
#landing-block {
    height: 90vh;
    width: 100vw;
    max-width: 100%;
    background-color: #677D0F;
    position: relative;
}
#landing-block .h1 {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    animation: fade-down-header 1s;
}
#landing-block .h4 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    padding: 32px;
    animation: fade-up-h4 1s;
}

/* RECIPE COLUMNS */

#recipe-columns {
    display: flex;
    gap: 37px;
    margin-top: 49px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.col {
    flex-basis: 100%;
}
.col h3 {
    margin-top: 34px;
    margin-bottom: 0px;
}
.col-image img {
    height: 301px;
    width: 401px;
    display: block;
}
.col p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 14px;
    margin-bottom: 0px;
}
.primary-button {
    color: #677D0F;
    font-family: "Epilogue", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 90%;
    text-align: left;
    position: absolute;
    padding: 15px 24px;
    border: 2px solid #677D0F;
    background-color: #F5E5BD;
    transition: 0.2s;
}
.primary-button:hover {
    color: #F5E5BD;
    background-color: #677D0F;
    cursor: pointer;
}
.col .primary-button:hover {
    cursor: url('images/eye-cursor.svg'), auto;
}
.col .primary-button {
    margin-top: 14px;
}

/* FOOTER */

#footer-wrapper {
    background-color: #4B3407;
    padding: 24px 0px;
    width: 100vw;
    max-width: 100%;
}
.footer h5 {
    color: #F5E5BD;
    margin: 0px;
}
.footer img {
    display: block;
}
.footer {
    max-width: 1277px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    align-items: center;
}

/* KEYFRAMES */

@keyframes fade-down-header {
    0% {
      opacity: 0%;
      transform: translateY(-60%) scale(0.9);
    }

    100% {
      opacity: 1;
      transform: translateY(-50%) scale(1);
    }
}
@keyframes fade-up-h4 {
    0% {
      opacity: 0%;
      transform: translateY(20%) translateX(-50%) scale(0.9);
    }

    100% {
      opacity: 1;
      transform: translateY(0px) translateX(-50%) scale(1);
    }
}
@keyframes fade-down-logo-top {
    0% {
      opacity: 0%;
      transform: translateY(-20%) scale(0.9);
    }

    100% {
      opacity: 1;
      transform: translateY(0px) scale(1);
    }
}