body {
    margin: 0;
    padding: 0;
    background-color: #F5E5BD;
}
.logo-top {
    text-align: center;
    padding: 32px;
}
#landing-block {
    height: 90vh;
    width: 100vw;
    background-color: #677D0F;
    position: relative;
}
.h1 {
    color: #F5E5BD;
    font-family: "Owners XBlack", sans-serif;
    font-weight: 1000;
    font-size: 172px;
    text-align: center;
    text-transform: uppercase;
    line-height: 90%;
}
#landing-block .h1 {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}
.h4 {
    color: #F5E5BD;
    font-family: "Epilogue", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}
#landing-block .h4 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    padding: 32px;
}
#recipe-columns {
    display: flex;
    gap: 37px;
    margin-left: 82px;
    margin-right: 82px;
    margin-top: 49px;
}
.col {
    flex-basis: 100%;
}
h3 {
    color: #4B3407;
    font-family: "Owners XBlack", sans-serif;
    font-weight: 1000;
    font-size: 26px;
    line-height: 90%;
    text-align: left;
    text-transform: uppercase;
}
.col-image img {
    height: 301px;
    width: 401px;
}
a {
    text-decoration: none;
}